.bash_history
.bashrc
.cache/
.conda/
.config/
.cursor-server/
.gitconfig
.local/
.netrc
.nv/
.python_history
.python_history-03953.tmp
.ssh/
.sudo_as_admin_successful
.viminfo
.vscode-server/
.wget-hsts
2021LoveDA/
Bi-SRNet/
GID/
ISPRS 2D Semantic Labeling Contest/
MiB/
MiB_m/
Miniconda3-latest-Linux-x86_64.sh
Potsdam.zip
SSESN-main/
get-pip.py
miniconda3/
second_dataset/
train_all.py
